<!-----------------------------------------------------------------------------------
   * Copyright ©2002-2018 Skava - All rights reserved. All information contained
   * herein is, and remains the property of Skava. Skava including, without
   * limitation, all software and other elements thereof, are owned or controlled
   * exclusively by Skava and protected by copyright, patent and other laws. Use
   * without permission is prohibited. Unauthorized copying of this file, via any
   * medium is strictly prohibited For further information contact Skava at
   * info@skava.com.
   ------------------------------------------------------------------------------------>
<!DOCTYPE html>
<html layout:decorate="~{v2/layouts/microservice-layout}"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   <head>
      <link rel="stylesheet" th:href="@{/v2/customlib/css/paymentcards.css}" />
      <title th:text="#{SUBSCRIPTION.PAGETITLE}">Subscriptions</title>
   </head>
   <div layout:fragment="bodyContent">
      <div id="orders" class="row" data-group="orders" data-toggle="anchor">
         <div class="col-md-12">
            <h2>Subscription Orders</h2>
         </div>
         <div datasearch="orders" class="filterContents col-md-12"></div>
         <div class="col">
            <div class="scrollX">
               <table datatable="orders" style="width: 100%"
                  class="z-depth-1 table table-hover">
               </table>
            </div>
         </div>
      </div>
      <div id="overview" class="row active" data-group="overview" data-toggle="anchor">
         <div class="col-12">
            <form class="container-fluid card needs-validation" method="GET" data-config="edit-subscription-details" xonsubmit="return FormManager.submitForm(this);" novalidate="novalidate">
               <div class="row">
                  <div class="col-12 col-md-8">
                     <h2>
                        Subscription #
                        <th:block th:text='${subscriptionDetails?.subscriptionId}'></th:block>
                     </h2>
                  </div>
                  <div class="col-12 col-md-4 text-right p-1 d-flex justify-content-end">
                     <div id="headerButtons">
                        <div>
                           <button class="btn edit-btn btn-link Xpx-3 p-0 waves-effect waves-light" href="" type="button" onclick="FormManager.editForm(event)">
                           <i class="material-icons" xstyle="line-height:0;">edit</i>
                           </button>
                           <button class="btn cancel-btn btn-light waves-effect waves-light" href="" type="reset">
                           <span class="d-inline-block">Cancel</span>
                           </button>
                           <button class="btn save-btn btn-success waves-effect waves-light" href="" type="submit" disabled="">
                           <span class="d-inline-block">Save</span>
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row view-content">
                  <div class="col-md-6">
                  <div class="row table">
                     <div class="col-md-3"><img class="logo-medium d-inline-block" style="width:100px; height:100px;" alt="" th:src="${subscriptionDetails?.imageUrl}"/></div>
                     <div class="col-md-9 align-self-center" th:text=' ${subscriptionDetails != null && subscriptionDetails?.itemInfo != null && subscriptionDetails?.itemInfo[0].skus != null ? subscriptionDetails?.itemInfo[0].skus[0].name : ""}'></div>
                  </div>
                     <div class="row">
                        <div class="col-md-6">
                           <span th:text=|#{SUBSCRIPTION.FREQUENCY.LABEL}|></span><span th:text="' '+${subscriptionDetails?.frequencyPeriod} "></span><span th:text="' '+${(#strings.equals(subscriptionDetails?.frequencyPeriod, '1') ? (#strings.substring(subscriptionDetails?.frequencyType,0,#strings.length(subscriptionDetails?.frequencyType)-1)) : (subscriptionDetails?.frequencyType))}"></span><br/>
                           <span th:text="${subscriptionDetails?.quantity}"></span><span th:text="' ' + |#{SUBSCRIPTION.QUANTITY.SUFFIX}|"></span><br/>
                           <span class="badge" th:classappend=" ${(#strings.toString(subscriptionDetails?.status) == 'CANCELED') ? 'badge-danger' : 'badge-primary'}" th:text="${subscriptionDetails?.status}" data-qa="status-ACTIVE">ACTIVE</span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-4">
                           <div th:if="${subscriptionDetails?.lastOrderDate != 0}" th:classappend='text-right' th:text=|#{SUBSCRIPTION.LASTORDERED}|></div>
                           <div th:classappend='text-right' th:text=|#{SUBSCRIPTION.NEXTORDER}|></div>
                        </div>
                        <div class="col-md-4">
                           <div th:text="${subscriptionDetails?.lastOrderDate != 0 ? #dates.format(subscriptionDetails?.lastOrderDate, 'dd-MMM-yyyy') : ''}"></div>
                           <div th:text="${subscriptionDetails?.nextOrderDate != 0 ? #dates.format(subscriptionDetails?.nextOrderDate, 'dd-MMM-yyyy') : ''}"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row edit-content">
                  <div class="col-6" th:insert="v2/inputs/text(
                     name='skuId',
                     readonly=true,
                     disabled=true,
                     label=#{SUBSCRIPTION.SKUID},
                     dataqa='subscription-skuid',
                     value=${subscriptionDetails != null && subscriptionDetails?.itemInfo != null && subscriptionDetails?.itemInfo[0].skus != null ? subscriptionDetails?.itemInfo[0].skus[0].id : ''}
                     )">
                  </div>
                  <div class="col-6" th:insert="v2/inputs/text(
                     name='status',
                     readonly=true,
                     disabled=true,
                     label=#{SUBSCRIPTION.STATUS},
                     dataqa='subscription-skuid',
                     value=${subscriptionDetails?.status}
                     )">
                  </div>
                  <div class="col-12" th:insert="v2/inputs/text(
                     name='skuName',
                     readonly=true,
                     disabled=true,
                     label=#{SUBSCRIPTION.SKUNAME},
                     dataqa='subscription-skuname',
                     value=${subscriptionDetails != null && subscriptionDetails?.itemInfo != null && subscriptionDetails?.itemInfo[0].skus != null ? subscriptionDetails?.itemInfo[0].skus[0].name : ''}
                     )">
                  </div>
                  <div class="col-12" th:insert="v2/inputs/text(
                     name='skuImageUrl',
                     label=#{SUBSCRIPTION.SKUIMAGEURL},
                     dataqa='subscription-skuimageurl',
                     value=${subscriptionDetails?.imageUrl},
                     readonly=true,
                     disabled=true
                     )">
                  </div>
                  <div class="col-md-6" th:insert="v2/inputs/select(
                     label=#{SUBSCRIPTION.FREQUENCY},
                     options=~{::#frequenciesList/option},
                     dataqa='frequency-period-label',
                     id='idSubsFrequencyPeriod'
                     )">
                     <select id="frequenciesList">
                        <option th:each="i: ${#numbers.sequence(1, 3)}" th:value="${i}"
                           th:selected="${#strings.equals(subscriptionDetails?.frequencyPeriod, i)} ? 'selected' : _" 
                           th:text="${i}">0</option>
                     </select>
                  </div>
                  <div class="col-md-6" th:insert="v2/inputs/text(
                     name='subscriptionQuantity',
                     label=#{SUBSCRIPTION.QUANTITY},
                     dataqa='subscription-qty',
                     value=${subscriptionDetails?.quantity},
                     type='number'
                     )">
                  </div>
                  <div class="col-md-6" th:insert="v2/inputs/text(
                     name='lastOrderDate',
                     label=#{SUBSCRIPTION.LASTORDERDATE},
                     dataqa='subscription-lastorderdate',
                     value=${subscriptionDetails?.lastOrderDate != 0 ? #dates.format(subscriptionDetails?.lastOrderDate, 'dd-MMM-yyyy') : ''},
                     readonly=true,
                     disabled=true
                     )">
                  </div>
                  <div class="col-md-6" th:insert="v2/inputs/text(
                     name='nextOrderDate',
                     label=#{SUBSCRIPTION.NEXTORDERDATE},
                     dataqa='subscription-nextorderdate',
                     value=${subscriptionDetails?.nextOrderDate != 0 ? #dates.format(subscriptionDetails?.nextOrderDate, 'dd-MMM-yyyy') : ''},
                     readonly=true,
                     disabled=true
                     )">
                  </div>
                  <th:block th:if="${(#strings.toString(subscriptionDetails?.status) == 'ACTIVE')}">
                     <div class="col-12 text-right">
                        <button class="btn btn-danger waves-effect waves-light cls_skcancelsubscription" href="" type="button">
                        <i class="material-icons" xstyle="line-height:0;">cancel</i>
                        <span class="d-inline-block">Cancel Subscription</span>
                        </button>
                     </div>
                  </th:block>
               </div>
            </form>
         </div>
         <div class="col-12">
            <form class="container-fluid card needs-validation cls_subscription_shipping_Info" method="GET" data-config="edit-subscription-shipping" xonsubmit="return FormManager.submitForm(this);" novalidate="novalidate">
               <div class="row">
                  <div class="col-12 col-md-8">
                     <h2>Shipping Address</h2>
                  </div>
                  <div class="col-12 col-md-4 text-right p-1 d-flex justify-content-end">
                     <div id="headerButtons">
                        <div>
                           <button class="btn edit-btn btn-link Xpx-3 p-0 waves-effect waves-light" href="" type="button" onclick="FormManager.editForm(event)">
                           <i class="material-icons" xstyle="line-height:0;">edit</i>
                           </button>
                           <button class="btn cancel-btn btn-light waves-effect waves-light" href="" type="reset">
                           <span class="d-inline-block">Cancel</span>
                           </button>
                           <button class="btn save-btn btn-primary waves-effect waves-light" href="" type="submit" disabled="">
                           <span class="d-inline-block">Validate</span>
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row view-content">
                  <div class="col-12 col-md-6">
                     <p>
                        <span th:text="${subscriptionDetails?.shippingAddress?.firstName}">JASON</span> <span th:text="${subscriptionDetails?.shippingAddress?.lastName}">CONTENTO</span><br>
                        <span th:text="${subscriptionDetails?.shippingAddress?.addressLine1}">4458 Locust Ave</span>
                        <span th:if="${subscriptionDetails?.shippingAddress?.addressLine2 != ''}" th:text="${', ' + subscriptionDetails?.shippingAddress?.addressLine2}"></span><br>
                        <span th:text="${subscriptionDetails?.shippingAddress?.city}">Homer</span>, <span th:text="${subscriptionDetails?.shippingAddress?.state}">NY</span> <span th:text="${subscriptionDetails?.shippingAddress?.zip}">13077</span><br>
                        <span th:text="${subscriptionDetails?.shippingAddress?.country}">US</span> <br>
                        <!-- <span>Mobile:</span> --><span th:text="${subscriptionDetails?.shippingAddress?.phone}">US</span> <br>
                        <span th:text="${subscriptionDetails?.shippingAddress?.email}">US</span> <br>
                     </p>
                  </div>
               </div>
               <div class="row edit-content">
                  <!-- <div class="col-md-12" th:if="${customerAdminAddressDetailsList != null} and ${not #lists.isEmpty(customerAdminAddressDetailsList)}">
                     <div th:insert="v2/components/dropdown::dropdown(
                        label=|#{SUBSCRIPTION.LABEL_CARD_ADD_CHOOSE_BILLING_ADDRESS}|,
                        className='btn',
                        items=~{::#id_choose_billing_address}
                        )">
                        <div id="id_choose_billing_address" th:each="address : ${customerAdminAddressDetailsList}"  >
                           <a class="dropdown-item py-2 cls_skAddrSuggDropItem" href="javascript:void(0)" th:addressid="${address?.id}" data-qa="billing-address-dropdown-item">
                              <div class="font-weight-bold"><span class="cls_ChoosePaymentFName" th:text="${address?.firstName}">Jason</span> <span class="cls_ChoosePaymentLName" th:text="${address?.lastName}">Contento</span></div>
                              <span class="cls_ChoosePaymentStreet" th:text="${address?.street1}">4458 Locust Ave</span>
                              <span class="cls_ChoosePaymentCity" th:text="${address?.city}">Homer</span>, <span class="cls_ChoosePaymentState" th:text="${address?.state}">NY</span> <span class="cls_ChoosePaymentZip" th:text="${address?.zipCode}">13077</span>
                              <span class="cls_ChoosePaymentCountry" th:text="${address?.country}">US</span>
                              <span class="cls_ChoosePaymentStreet2 d-none" th:text="${address?.street2}">US</span>
                              <span class="cls_ChoosePaymentPhone d-none" th:text="${address?.phoneNumber}">US</span>
                           </a>
                        </div>
                     </div>
                  </div> -->
                    <div class="col-md-4">
                    <input type="radio" name="shippingAddrType" id="idSelectedType0" class="cls_shippingType form-check-input h5" value="Custom" checked="checked">
                    <label class="form-check-label active" for="idSelectedType0">Use a custom address</label>
                    </div>
                    <div class="col-md-4">
                    <input type="radio" name="shippingAddrType" id="idSelectedType1" class="cls_shippingType form-check-input h5" value="Defined">
                    <label class="form-check-label active" for="idSelectedType1">Choose an existing address</label>
                    </div>
                    <div class="col-md-4"></div>
                  <div class="col-md-12 align-self-center"><span></span></div>
                  <!-- <div class="col-md-12 align-self-center"><span></span></div>
                  <div class="col-md-12 align-self-center"><span></span></div> -->
                  <div class="cls_definedShippingAddress row d-none">
                  <!-- <span>123</span> -->
                  <div class="col-12" th:each="address,addressIterator : ${customerAdminAddressDetailsList}"  >
                     <!-- <a class="dropdown-item py-2 cls_skAddrSuggDropItem" href="javascript:void(0)" th:addressid="${address?.id}" data-qa="billing-address-dropdown-item"> -->
                        <div class="">
                        <input type="radio" name="shippingDefinedAddr" th:id="|idSelectedDefinedAddr${addressIterator.index}|" class="cls_shippingDefinedAddr form-check-input h1" th:value="${address?.id}" th:checked>
                        <label class="form-check-label active" th:for="|idSelectedDefinedAddr${addressIterator.index}|">
                            <div class="font-weight-bold"><span class="cls_ChoosePaymentFName" th:text="${address?.firstName}">Jason</span> <span class="cls_ChoosePaymentLName" th:text="${address?.lastName}">Contento</span></div>
                            <span class="cls_ChoosePaymentStreet" th:text="${address?.street1}">4458 Locust Ave</span>
                            <span class="cls_ChoosePaymentCity" th:text="${address?.city}">Homer</span>, <span class="cls_ChoosePaymentState" th:text="${address?.state}">NY</span> <span class="cls_ChoosePaymentZip" th:text="${address?.zipCode}">13077</span>
                            <span class="cls_ChoosePaymentCountry" th:text="${address?.country}">US</span>
                            <span class="cls_ChoosePaymentStreet2 d-none" th:text="${address?.street2}">US</span>
                            <span class="cls_ChoosePaymentPhone d-none" th:text="${address?.phoneNumber}">US</span>
                        </label>
                        </div>
                     <!-- </a> -->
                  </div>
                  </div>
                  <div class="cls_customShippingAddress row">
                  <div class="col-md-4" th:insert="v2/inputs/text(
                     name='firstName',
                     label=#{SUBSCRIPTION.FIRSTNAME},
                     dataqa='subscription-shipping-firstname',
                     inputClassName='shippingFirstName',
                     value=${subscriptionDetails?.shippingAddress?.firstName}
                     )">
                  </div>
                  <div class="col-md-4" th:insert="v2/inputs/text(
                     name='middleName',
                     label=#{SUBSCRIPTION.MIDDLENAME},
                     dataqa='subscription-shipping-middlename',
                     inputClassName='shippingMiddleName',
                     value=${subscriptionDetails?.shippingAddress?.middleName}
                     )">
                  </div>
                  <div class="col-md-4" th:insert="v2/inputs/text(
                     name='lastName',
                     label=#{SUBSCRIPTION.LASTNAME},
                     dataqa='subscription-shipping-lastname',
                     inputClassName='shippingLastName',
                     value=${subscriptionDetails?.shippingAddress?.lastName}
                     )">
                  </div>
                  <div class="col-md-12" th:insert="v2/inputs/text(
                     name='addressLine1',
                     label=#{SUBSCRIPTION.ADDRESSLINE1},
                     dataqa='subscription-address-line1',
                     inputClassName='shippingAddressLine1',
                     value=${subscriptionDetails?.shippingAddress?.addressLine1}
                     )">
                  </div>
                  <div class="col-md-12" th:insert="v2/inputs/text(
                     name='addressLine2',
                     label=#{SUBSCRIPTION.ADDRESSLINE2},
                     dataqa='subscription-address-line2',
                     inputClassName='shippingAddressLine2',
                     value=${subscriptionDetails?.shippingAddress?.addressLine2}
                     )">
                  </div>
                  <div class="col-md-12" th:insert="v2/inputs/text(
                     name='addressLine3',
                     label=#{SUBSCRIPTION.ADDRESSLINE3},
                     dataqa='subscription-address-line3',
                     inputClassName='shippingAddressLine3',
                     value=${subscriptionDetails?.shippingAddress?.addressLine3}
                     )">
                  </div>
                  <div class="col-md-4" th:insert="v2/inputs/text(
                     name='city',
                     label=#{SUBSCRIPTION.CITY},
                     dataqa='subscription-shipping-city',
                     inputClassName='shippingCity',
                     value=${subscriptionDetails?.shippingAddress?.city}
                     )">
                  </div>
                  <div class="col-md-4" th:insert="v2/inputs/text(
                     name='state',
                     label=#{SUBSCRIPTION.STATE},
                     dataqa='subscription-shipping-state',
                     inputClassName='shippingState',
                     value=${subscriptionDetails?.shippingAddress?.state}
                     )">
                  </div>
                  <div class="col-md-4" th:insert="v2/inputs/text(
                     name='zip',
                     label=#{SUBSCRIPTION.ZIP},
                     dataqa='subscription-shipping-zip',
                     inputClassName='shippingZip',
                     value=${subscriptionDetails?.shippingAddress?.zip}
                     )">
                  </div>
                  <div class="col-md-4" th:insert="v2/inputs/text(
                     name='country',
                     label=#{SUBSCRIPTION.COUNTRY},
                     dataqa='subscription-shipping-country',
                     inputClassName='shippingCountry',
                     value=${subscriptionDetails?.shippingAddress?.country}
                     )">
                  </div>
                  <div class="col-md-4" th:insert="v2/inputs/text(
                     name='phone',
                     label=#{SUBSCRIPTION.PHONE},
                     dataqa='subscription-shipping-phone',
                     inputClassName='shippingPhone',
                     value=${subscriptionDetails?.shippingAddress?.phone}
                     )">
                  </div>
                  <div class="col-md-4" th:insert="v2/inputs/text(
                     name='email',
                     label=#{SUBSCRIPTION.EMAIL},
                     dataqa='subscription-shipping-email',
                     inputClassName='shippingEmail',
                     value=${subscriptionDetails?.shippingAddress?.email}
                     )">
                  </div>
                  </div>
               </div>
            </form>
         </div>
         <div class="col-12">
            <form class="container-fluid card needs-validation cls_subscription_shipping_Method" method="GET" data-config="edit-subscription-shipping-method" xonsubmit="return FormManager.submitForm(this);" novalidate="novalidate">
               <div class="row">
                  <div class="col-12 col-md-8">
                     <h2>Shipping Method</h2>
                  </div>
                  <div class="col-12 col-md-4 text-right p-1 d-flex justify-content-end">
                     <div id="headerButtons">
                        <div>
                           <button class="btn edit-btn btn-link Xpx-3 p-0 waves-effect waves-light" href="" type="button" onclick="FormManager.editForm(event)">
                           <i class="material-icons" xstyle="line-height:0;">edit</i>
                           </button>
                           <button class="btn cancel-btn btn-light waves-effect waves-light" href="" type="reset">
                           <span class="d-inline-block">Cancel</span>
                           </button>
                           <button class="btn save-btn btn-success waves-effect waves-light" href="" type="submit">
                           <span class="d-inline-block">Save</span>
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row view-content">
                  <div class="col-12 col-md-6">
                     <p>
                        <span th:text="${subscriptionDetails?.shippingMethod}">ECONOMY</span>
                     </p>
                  </div>
               </div>
               <div class="row edit-content">
                  <div class="col-md-12" th:if="${customerAdminAddressDetailsList != null} and ${not #lists.isEmpty(customerAdminAddressDetailsList)}">
                     <div class="cls_subscriptionShippingMtd"></div>
                     <div class="cls_shippingAddrData"></div>
                  </div>
               </div>
            </form>
         </div>
         <th:block th:if="${paymentPropertiesMap != null}">
            <div class="col-12">
               <div class="container-fluid card needs-validation" method="GET" data-config="order-details" xonsubmit="return FormManager.submitForm(this);" novalidate="novalidate">
                  <div class="row">
                     <div class="col-12 col-md-8">
                        <h2>Payment Info</h2>
                     </div>
                  </div>
                  <div class="row view-content">
                     <div class="col-12">
                        <div class="d-flex pb-3">
                           <div class="cls_skPaymentLogo" th:classappend="|cls_skPaymentLogo${#strings.capitalize(#strings.toLowerCase(paymentPropertiesMap.get('cardType')))}|" data-qa="credit-card-logo"></div>
                           <div data-qa="card-number-text" class="p-2 pr-0 flex-shrink-1 d-flex align-items-center" th:text="${#strings.capitalize(#strings.toLowerCase(paymentPropertiesMap.get('cardType')))}">Visa</div>
                        </div>
                        <h4 th:text="|XXXXXX${(paymentPropertiesMap.get('cardNumber') != null) ? #strings.substring(paymentPropertiesMap.get('cardNumber'), 6) : 'XXXXXXXXXXXX1111'}|">XXXXXXXXXXXX1111</h4>
                        <p data-qa="expiry-date-text"><span>Expires </span> <span th:text="${paymentPropertiesMap.get('cardExpirationMonth')}">01</span>/<span th:text="${paymentPropertiesMap.get('cardExpirationYear')}">2031</span></p>
                        <div class="font-weight-bold">Name On Card</div>
                        <p data-qa="name-on-the-card-text"><span th:text="${(paymentPropertiesMap.get('firstName') != null) ? paymentPropertiesMap.get('firstName') : '' }"></span> <span th:text="${(paymentPropertiesMap.get('lastName') != null) ? paymentPropertiesMap.get('lastName') : '' }">testcardlast</span><br>
                        </p>
                        <div class="font-weight-bold" data-qa="name-on-the-card-text">Billing Address</div>
                        <span th:text="${subscriptionDetails?.paymentInfo?.billingAddress?.firstName}">JASON</span> <span th:text="${subscriptionDetails?.paymentInfo?.billingAddress?.lastName}">CONTENTO</span><br>
                        <span th:text="${subscriptionDetails?.paymentInfo?.billingAddress?.addressLine1}">4458 Locust Ave</span>
                        <span th:if="${subscriptionDetails?.paymentInfo?.billingAddress?.addressLine2 != ''}" th:text="${', ' + subscriptionDetails?.paymentInfo?.billingAddress?.addressLine2}"></span><br>
                        <span th:text="${subscriptionDetails?.paymentInfo?.billingAddress?.city}">Homer</span>, <span th:text="${subscriptionDetails?.paymentInfo?.billingAddress?.state}">NY</span> <span th:text="${subscriptionDetails?.paymentInfo?.billingAddress?.zipcode}">13077</span><br>
                        <span th:text="${subscriptionDetails?.paymentInfo?.billingAddress?.country}">US</span>
                        <p></p>
                        <p>
                           <span data-qa="phone-tile-txt" th:text="${subscriptionDetails?.paymentInfo?.billingAddress?.phoneNumber}">
                           (253) 654-4564
                           </span>
                        </p>
                        <p>
                           <span data-qa="phone-tile-txt" th:text="${subscriptionDetails?.paymentInfo?.billingAddress?.email}">
                           test01@yopmail.com
                           </span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </th:block>
      </div>
   </div>
   <th:block layout:fragment="script">
      <script th:inline="javascript">
         /*<![CDATA[*/
         var message_properties = {
           "SUBSCRIPTION.CANCEL.TITLE": /*[[#{SUBSCRIPTION.CANCEL.TITLE}]]*/"Subscription cancel",
           "SUBSCRIPTION.CANCEL.MESSAGE": /*[[#{SUBSCRIPTION.CANCEL.MESSAGE}]]*/"Are you sure you want to cancel subscription request?",
           "SUBSCRIPTION.BTN.CANCEL": /*[[#{SUBSCRIPTION.BTN.CANCEL}]]*/"Cancel",
           "SUBSCRIPTION.BTN.CONFIRM": /*[[#{SUBSCRIPTION.BTN.CONFIRM}]]*/"Confirm",
           "SUBSCRIPTION.CANCEL.SUCCESS.MSG": /*[[#{SUBSCRIPTION.CANCEL.SUCCESS.MSG}]]*/"Subscription canceled Successfully.",
           "SUBSCRIPTION.UPDATE.SUCCESS.MSG": /*[[#{SUBSCRIPTION.UPDATE.SUCCESS.MSG}]]*/"Subscription updated Successfully.",
           "SUBSCRIPTION.REQUESTID" : /*[[#{SUBSCRIPTION.REQUESTID}]]*/"Notification ID",
           "SUBSCRIPTION.USERNAME" : /*[[#{SUBSCRIPTION.USERNAME}]]*/"Notification Name",
           "SUBSCRIPTION.REQUEST_PLACEMENT_DATE" : /*[[#{SUBSCRIPTION.REQUEST_PLACEMENT_DATE}]]*/"Event Name",
           "SUBSCRIPTION.SKUID" : /*[[#{SUBSCRIPTION.SKUID}]]*/"Status",
           "SUBSCRIPTION.SKUNAME" : /*[[#{SUBSCRIPTION.SKUNAME}]]*/"View",
           "SUBSCRIPTION.EMAIL" : /*[[#{SUBSCRIPTION.EMAIL}]]*/"E-Mail",
           "SUBSCRIPTION.FREQUENCY" : /*[[#{SUBSCRIPTION.FREQUENCY}]]*/"Frequency",
           "SUBSCRIPTION.REQUEST_END_DATE" : /*[[#{SUBSCRIPTION.REQUEST_END_DATE}]]*/"Request ends on",
           "SUBSCRIPTION.STATUS": /*[[#{SUBSCRIPTION.STATUS}]]*/"Status",
           "SUBSCRIPTION.STATUS.ACTIVE": /*[[#{SUBSCRIPTION.STATUS.ACTIVE}]]*/"ACTIVE",
           "SUBSCRIPTION.STATUS.CANCELED": /*[[#{SUBSCRIPTION.STATUS.CANCELED}]]*/"CANCELED",
           "SUBSCRIPTION.STATUS.DELETED": /*[[#{SUBSCRIPTION.STATUS.DELETED}]]*/"DELETED",
           "SUBSCRIPTION.STATUS.COMPLETED": /*[[#{SUBSCRIPTION.STATUS.COMPLETED}]]*/"COMPLETED",
           "SUBSCRIPTION.FREQUENCY.DAYS": /*[[#{SUBSCRIPTION.FREQUENCY.DAYS}]]*/"DAILY",
           "SUBSCRIPTION.FREQUENCY.WEEKS": /*[[#{SUBSCRIPTION.FREQUENCY.WEEKS}]]*/"WEEKLY",
           "SUBSCRIPTION.FREQUENCY.MONTHS": /*[[#{SUBSCRIPTION.FREQUENCY.MONTHS}]]*/"MONTHLY",
           "SUBSCRIPTION.FREQUENCY.YEARS": /*[[#{SUBSCRIPTION.FREQUENCY.YEARS}]]*/"YEARLY",
           "SUBSCRIPTION.PRODUCTNAME" : /*[[#{SUBSCRIPTION.PRODUCTNAME}]]*/"Product Name",
           "SUBSCRIPTION.ORDER.ID" : /*[[#{SUBSCRIPTION.ORDER.ID}]]*/"Order Id",
           "SUBSCRIPTION.ORDER.CREATEDON" : /*[[#{SUBSCRIPTION.ORDER.CREATEDON}]]*/"Created On",
           "SUBSCRIPTION.ORDER.UPDATEDON" : /*[[#{SUBSCRIPTION.ORDER.UPDATEDON}]]*/"Updated On",
           "SUBSCRIPTION.INSTANCE.ID" : /*[[#{SUBSCRIPTION.INSTANCE.ID}]]*/"Instance Id",
           "SUBSCRIPTION.INSTANCE.STATUS" : /*[[#{SUBSCRIPTION.INSTANCE.STATUS}]]*/"Instance Status",
           "SUBSCRIPTION.INSTANCE.STATUS.COMPLETED" : /*[[#{SUBSCRIPTION.INSTANCE.STATUS.COMPLETED}]]*/"COMPLETED",
           "SUBSCRIPTION.INSTANCE.STATUS.SKIPPED" : /*[[#{SUBSCRIPTION.INSTANCE.STATUS.SKIPPED}]]*/"SKIPPED",
           "SUBSCRIPTION.INSTANCE.STATUS.FAILED" : /*[[#{SUBSCRIPTION.INSTANCE.STATUS.FAILED}]]*/"FAILED",
           "SUBSCRIPTION.INSTANCE.EXPECTEDDELIVERYDATE" : /*[[#{SUBSCRIPTION.INSTANCE.EXPECTEDDELIVERYDATE}]]*/"Expected Delivery Date"
         }
         /*]]>*/
      </script>
      <script type="text/javascript" th:src="@{/v2/customlib/js/subscriptionDetails.js}"></script>
      <script type="text/javascript" th:src="@{/v2/customlib/js/ModelManager.cancelConfirmation.js}"></script>
      <script type="text/javascript" th:src="@{/v2/customlib/js/ModelManager.addressRecommendation.js}"></script>
      <script type="text/javascript" th:src="@{/v2/customlib/js/ModelManager.shippingMethods.js}"></script>
      <script type="text/javascript" th:src="@{/v2/customlib/js/formmanager.edit-subscription-details.js}"></script>
      <script type="text/javascript" th:src="@{/v2/customlib/js/formmanager.edit-subscription-shipping.js}"></script>
      <script type="text/javascript" th:src="@{/v2/customlib/js/formmanager.edit-subscription-shipping-method.js}"></script>
      <script type="text/javascript" th:src="@{/v2/customlib/js/subscriptionUtil.js}"></script>
      <script type="text/javascript" th:src="@{/v2/customlib/js/datatablemanager-orders.js}"></script>
      <script type="text/javascript" th:src="@{/v2/customlib/js/searchmanager-orders.js}"></script>
   </th:block>
</html>