<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bd765">  <td>19/08/19 10:59:24</td>   <td>0</td> <td title="&gt;&gt;BaseClass.beforeSuite()[pri:0, instance:com.skava.testcases.SECOM_PreScript@e15b7e8]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="9fb566">  <td>19/08/19 10:59:25</td>   <td>802</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SECOM_PreScript.initTest()[pri:0, instance:com.skava.testcases.SECOM_PreScript@e15b7e8]">&gt;&gt;initTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="8bd765">  <td>19/08/19 10:59:35</td>   <td>11245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.skava.testcases.SECOM_PreScript@e15b7e8]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="9fb566">  <td>19/08/19 10:59:36</td>   <td>11617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SECOM_PreScript.SECOMPreScript()[pri:0, instance:com.skava.testcases.SECOM_PreScript@e15b7e8]">SECOMPreScript</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="8bd765">  <td>19/08/19 10:59:55</td>   <td>30909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod(org.testng.ITestResult)[pri:0, instance:com.skava.testcases.SECOM_PreScript@e15b7e8]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="9fb566">  <td>19/08/19 10:59:56</td>   <td>31483</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SECOM_PreScript.tearDown()[pri:0, instance:com.skava.testcases.SECOM_PreScript@e15b7e8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="8bd765">  <td>19/08/19 10:59:56</td>   <td>32091</td> <td title="&lt;&lt;BaseClass.afterSuite()[pri:0, instance:com.skava.testcases.SECOM_PreScript@e15b7e8]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
</table>
