<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66a265">  <td>18/12/18 16:36:38</td>   <td>0</td> <td title="&gt;&gt;BaseClass.beforeSuite()[pri:0, instance:com.skava.testcases.SECOMOMS_1@12b0404f]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="60a4d7">  <td>18/12/18 16:36:39</td>   <td>631</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SECOMOMS_1.initTest()[pri:0, instance:com.skava.testcases.SECOMOMS_1@12b0404f]">&gt;&gt;initTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>18/12/18 16:36:47</td>   <td>9002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.skava.testcases.SECOMOMS_1@12b0404f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="60a4d7">  <td>18/12/18 16:36:48</td>   <td>9513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SECOMOMS_1.SECOMOMS()[pri:0, instance:com.skava.testcases.SECOMOMS_1@12b0404f]">SECOMOMS</td> 
  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>18/12/18 16:37:00</td>   <td>21873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod(org.testng.ITestResult)[pri:0, instance:com.skava.testcases.SECOMOMS_1@12b0404f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="60a4d7">  <td>18/12/18 16:37:01</td>   <td>22722</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SECOMOMS_1.tearDown()[pri:0, instance:com.skava.testcases.SECOMOMS_1@12b0404f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@919112242</td>   <td></td> </tr>
</table>
