.cls_skPaymentLogo {
	background-position:-304px -47px;
	width:71px;
	height:39px;
	background-image: url("../img/payment-cards.png");
}
.cls_skPaymentLogoVisa {
	background-position:-4px -4px;
}
.cls_skPaymentLogoMastercard {
	background-position:-229px -5px;
}
.cls_skPaymentLogoAmericanExpress {
	background-position:-79px -4px;
}
.cls_skPaymentLogoDiscover {
	background-position:-154px -4px;
}
.cls_skPaymentLogoJCB {
	background-position:-229px -47px;
}
.cls_skPaymentLogoMaestro {
	background-position:-304px -5px;
}
.cls_skPaymentLogoVisaElectron {
	background-position:-4px -47px;
}